<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eric.bakingrecipes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MasterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.DetailsActivity" />
        <activity android:name=".Activities.IngredientsActivity" />
        <activity android:name=".Activities.PlayerActivity" />
        <activity android:name=".Activities.ShoppingListActivity" />
        <activity android:name=".Activities.FavoriteActivity" />
        <activity android:name=".PlayerActivityPhone" />

        <provider
            android:name=".Utils.Data.generated.ShoppingListProvider"
            android:authorities="com.example.eric.bakingrecipes"
            android:exported="true" />

        <receiver android:name=".RecipesAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipes_app_widget_info" />
        </receiver>
        <service android:name=".ShoppingListRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS">

        </service>


    </application>

</manifest>